.tabel1 td
.tabel1 th{
    width: 400px;
    border: solid black;
   
}

th{
    text-align: left;//the table header is by defaul in the center so this make it alighned with the columns 
}

.table1,th,td{
    border: 1px solid black;
}
table th,table td{
    padding: 4px;
    
}
tr:nth-child(2){
     background-color: aqua;
}
tr:nth-child(odd){
  background-color: rgb(200, 206, 206);
}
td:nth-child(1){
    background-color: blueviolet;
}
table{
    margin-top: 20px;
}
th,td{
    padding: 20px; 
}
